.bottom-container-heading{
    font-family: Roboto;
/* font-size: 45px; */
font-weight: 300;
letter-spacing: 0.9599999785423279px;
/* text-align: left; */
color:#FFFFFF;
}
.bottom-description{
    font-family: Roboto;
/* font-size: 28px; */
font-weight: 300;
color:#FFFFFF;
}
.bottom-button {
    height: 60px;
    gap: 0px;
    border: 1px solid transparent; 
    opacity: 1;
    border-color: #FFFFFF;
    color: white;
  }
.bottom-button:hover{
    color: black;
    background-color: white;
}